header{
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background-color: rgb(245, 245, 245);
  z-index: 1;
  width: 100%;
}

.left-section{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 100px;
  flex-shrink: 0;
}
.middle-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 150px;
  height: 60px;
}

.middle-section img{
  width: 95px;
}

.middle-section a{
  text-decoration: none;
}

.middle-section p {
  font-family: "Saira", sans-serif;
  font-style:oblique;
  color: red;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 10px;
  box-shadow: 1px 2px 1px rgb(255, 166, 0);
  transition: all 1s;
}

.middle-section p:hover{
  cursor: pointer;
  color: rgb(255, 166, 0);
}


.right-section{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  margin-left: 100px;
}

button{
  font-weight: bold;
  padding: 10px 25px;
  width: fit-content;
  margin: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px black;
  background-color: rgb(133, 133, 133);
  color: white;
  transition: all 0.125s;
}



button:hover{
  cursor: pointer;
  color: rgb(133, 133, 133);
  background-color: white;
}


.right-section button{
  background-color: rgb(201, 2, 2);
  margin: 5px;
  box-shadow: none;
}

.right-section button:hover{
  background-color: rgb(255, 166, 0);
  color: black;
}

.middle-section img{
  width: 50px;
  cursor: pointer;
}