body{
  background-color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; 
  height: 100vh;
  font-family: "Saira", sans-serif;
}

.FAQ h3{
  background-color: grey;
  color: white;
  width: 700px;
  padding: 10px;
  font-weight: 100;
}

.FAQ h1{
  font-weight: bold;
}

.FAQ{
  font-family: "Saira", sans-serif;
  padding-top: 200px;
}

